body {
  background: #f9f8f6; }

.container {
  background: #f9f8f6;
  padding: 0px;
  margin: auto; }
  @media (min-width: 550px) {
    .container {
      width: 940px; } }

.row {
  margin: 0px; }

@media (min-width: 550px) {
  .main_area {
    padding: 0px;
    width: 700px; } }
.main_area .breadcrumb {
  background: #e8e4da;
  border-radius: 3px;
  color: #887f69;
  font-size: 0.9em;
  margin-bottom: 10px; }
  .main_area .breadcrumb li:first-child {
    padding-left: 20px;
    background: url(../images/list/home_icon.png) no-repeat left; }
  .main_area .breadcrumb active {
    color: #887f69; }

@media (min-width: 550px) {
  .sub_area {
    padding-right: 0px;
    padding-left: 20px; } }

header {
  background-color: #f9f8f6;
  margin-bottom: 12.5px; }
  header .logo {
    margin-top: 15px;
    padding: 0px;
    margin-bottom: 12px;
    text-align: center; }
  header .sp_navi {
    text-align: center; }
    header .sp_navi img {
      height: 24px;
      margin-right: 4px; }
  header .sp_navi_li {
    width: 180px;
    position: absolute;
    margin: 0;
    padding: 0;
    border: 1px solid #514b3c;
    background: white;
    display: none; }
    header .sp_navi_li li {
      list-style: none;
      margin: 0;
      padding: 0; }
      header .sp_navi_li li a {
        display: block;
        border-bottom: 1px solid #514b3c; }
  @media (min-width: 550px) {
    header .row {
      margin-top: 39px; }
    header .logo {
      margin-top: 0px;
      height: 40px;
      background: url("../images/top/logo.png") no-repeat center; }
      header .logo img {
        display: none; }
    header .sp_navi {
      display: none; }
    header .pc_navi {
      padding: 0;
      text-align: right; }
      header .pc_navi ul {
        margin-top: 19px;
        margin-bottom: 0px; }
      header .pc_navi li {
        list-style: none;
        display: inline-block; }
        header .pc_navi li img.navi_menu {
          margin-left: 20px; }
        header .pc_navi li img.navi_icon {
          margin-left: 9px; } }
  @media (max-width: 550px) {
    header .pc_navi {
      display: none; } }

.cover_area {
  padding: 0px; }
  .cover_area .owl-dots {
    padding-left: 0; }
  .cover_area .owl-dot {
    display: inline-block;
    letter-spacing: normal;
    width: 25px;
    height: 2px;
    background: #aaaaaa;
    margin-right: 10px; }
    .cover_area .owl-dot.active {
      background: #9d1a2d; }
  .cover_area .carousel {
    padding: 0px; }
  .cover_area .cover_pc {
    display: none; }
  .cover_area .cover_sp {
    display: block;
    width: 100%; }
  @media (min-width: 550px) {
    .cover_area .cover_pc {
      display: block;
      width: 100%; }
    .cover_area .cover_sp {
      display: none; } }

.new_items {
  margin-bottom: 18px;
  padding: 0px; }
  .new_items .new_items_title {
    text-align: center;
    margin-bottom: 16px; }
  .new_items .new_item {
    padding: 0px; }
    .new_items .new_item .thumbnail {
      background: #ffffff;
      border: none;
      border-radius: 0px;
      margin-bottom: 1px;
      margin-right: 1px;
      padding: 8px; }
      .new_items .new_item .thumbnail img {
        border: 1px solid #f9f8f6; }
      .new_items .new_item .thumbnail .caption {
        padding: 5px 0px 0px 0px; }
        .new_items .new_item .thumbnail .caption p {
          font-size: 1.2rem; }
  @media (min-width: 550px) {
    .new_items .new_items_title {
      position: relative;
      text-align: center; }
      .new_items .new_items_title img {
        position: relative;
        z-index: 2;
        padding: 0 1em;
        background: #f9f8f6;
        text-align: left; }
      .new_items .new_items_title:before {
        position: absolute;
        top: 50%;
        z-index: 1;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #e2ddd4; }
    .new_items .new_item .thumbnail .caption p {
      font-size: 1.3rem; } }

.popular_items {
  margin-bottom: 18px;
  padding: 0px; }
  .popular_items .popular_items_title {
    text-align: center;
    margin-bottom: 16px; }
  .popular_items .popular_item {
    padding: 0px; }
    .popular_items .popular_item .thumbnail {
      background: #ffffff;
      border: none;
      border-radius: 0px;
      margin-bottom: 1px;
      margin-right: 1px;
      padding: 8px; }
      .popular_items .popular_item .thumbnail img {
        border: 1px solid #f9f8f6; }
      .popular_items .popular_item .thumbnail .caption {
        padding: 5px 0px 0px 0px; }
        .popular_items .popular_item .thumbnail .caption p {
          font-size: 1.2rem; }
  @media (min-width: 550px) {
    .popular_items .popular_items_title {
      position: relative;
      text-align: center; }
      .popular_items .popular_items_title img {
        position: relative;
        z-index: 2;
        padding: 0 1em;
        background: #f9f8f6;
        text-align: left; }
      .popular_items .popular_items_title:before {
        position: absolute;
        top: 50%;
        z-index: 1;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #e2ddd4; }
    .popular_items .popular_item .thumbnail .caption p {
      font-size: 1.3rem; } }

.shopping_guides {
  padding: 0px; }
  .shopping_guides .guide_title {
    text-align: center;
    margin-bottom: 15px; }
  .shopping_guides .row {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-box;
    display: -webkit-flexbox;
    display: -moz-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .shopping_guides .guide {
    width: 100%;
    background: #ffffff;
    padding: 20px;
    line-height: 1.4rem;
    margin-bottom: 5px; }
    .shopping_guides .guide p {
      font-size: 1.3rem; }
    .shopping_guides .guide img {
      max-width: 100%; }
    .shopping_guides .guide .guide_subtitle {
      margin-bottom: 18px;
      font-size: 1.6rem;
      font-weight: bold;
      color: #887f69; }
    .shopping_guides .guide .guide_heading {
      margin-top: 15px;
      margin-bottom: 8px;
      color: #887f69; }
  @media (min-width: 550px) {
    .shopping_guides .guide {
      width: 50%;
      border: 1px solid #f9f8f6; }
    .shopping_guides .guide_title {
      position: relative;
      text-align: center; }
      .shopping_guides .guide_title img {
        position: relative;
        z-index: 2;
        padding: 0 1em;
        background: #f9f8f6;
        text-align: left; }
      .shopping_guides .guide_title:before {
        position: absolute;
        top: 50%;
        z-index: 1;
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #e2ddd4; } }

.search_area {
  background: #ffffff;
  padding: 20px 15px; }
  .search_area .form-group {
    margin: 0px; }
  .search_area .form_search_input {
    border: none;
    border-radius: 0px;
    background: #eeeeee;
    color: #b5b5b5;
    font-style: italic;
    box-shadow: none;
    -webkit-box-shadow: none; }
  .search_area .form_search_icon {
    border: none;
    border-radius: 0px; }
  .search_area .search_title {
    display: none; }
  @media (min-width: 550px) {
    .search_area {
      padding: 10px 20px 20px; }
      .search_area .search_title {
        display: block;
        margin-bottom: 8px; } }

.page_link {
  margin-top: 10px; }
  .page_link .page_link_title {
    background: #887f69;
    padding: 16px; }
  .page_link .link_item {
    background: #ffffff;
    padding: 16px;
    margin-bottom: 1px; }
  .page_link .link_name {
    float: left; }
  .page_link .link_btn {
    text-align: right; }

.categories {
  margin-top: 10px; }
  .categories .categories_title {
    background: #887f69;
    padding: 16px; }
  .categories .category_item {
    background: #ffffff;
    padding: 16px;
    margin-bottom: 1px; }
  .categories .category_name {
    float: left; }
  .categories .category_btn {
    text-align: right; }

.about {
  margin-top: 10px;
  background: #ffffff; }
  .about .about_title {
    background: #887f69;
    padding: 16px; }
  .about .about_contents {
    padding: 12px;
    overflow: auto; }
    .about .about_contents .about_thumbnail {
      display: inline;
      float: left;
      width: 50%;
      padding-right: 6px; }
      .about .about_contents .about_thumbnail img {
        width: 100%; }
    .about .about_contents .about_text {
      display: inline;
      float: right;
      width: 50%;
      padding-left: 6px;
      padding-bottom: 10px;
      font-size: 0.8em;
      line-height: 1.6em; }
  @media (min-width: 550px) {
    .about .about_contents {
      overflow: auto; }
      .about .about_contents .about_thumbnail {
        float: none;
        width: 100%;
        padding: 0px;
        margin-bottom: 10px; }
      .about .about_contents .about_text {
        float: none;
        width: 100%;
        padding: 0px;
        font-size: 0.9em; }
      .about .about_contents .about_btn {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        max-width: 100%; } }

.shop_info {
  margin-top: 10px;
  background: #ffffff; }
  .shop_info .shopinfo_title {
    background: #887f69;
    padding: 16px; }
  .shop_info .shopinfo_contents {
    padding: 12px;
    overflow: auto; }
    .shop_info .shopinfo_contents .shopinfo_thumbnail {
      display: inline;
      float: left;
      width: 50%;
      padding-right: 6px; }
      .shop_info .shopinfo_contents .shopinfo_thumbnail img {
        width: 100%; }
    .shop_info .shopinfo_contents .shopinfo_text {
      display: inline;
      float: right;
      width: 50%;
      padding-left: 6px;
      padding-bottom: 10px;
      font-size: 0.8em;
      line-height: 1.6em; }
  @media (min-width: 550px) {
    .shop_info .shopinfo_contents {
      overflow: auto; }
      .shop_info .shopinfo_contents .shopinfo_thumbnail {
        float: none;
        width: 100%;
        padding: 0px;
        margin-bottom: 10px; }
      .shop_info .shopinfo_contents .shopinfo_text {
        float: none;
        width: 100%;
        padding: 0px;
        font-size: 0.9em; }
      .shop_info .shopinfo_contents .shopinfo_btn {
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
        max-width: 100%; } }

footer .row {
  padding: 0px; }
footer .page_top {
  text-align: center;
  margin: 20px 0px; }
footer hr {
  border-top: 1px solid #887f69;
  width: 94%;
  margin: 0px auto; }
footer .footer_menu {
  text-align: center;
  margin: 10px auto;
  font-size: 0.8em;
  width: 82%; }
footer .copyright {
  text-align: center;
  font-size: 0.7em;
  color: #b8b5ac;
  margin-bottom: 10px; }
@media (min-width: 550px) {
  footer .page_top {
    text-align: right; }
  footer hr {
    width: 100%; }
  footer .footer_menu {
    margin: 30px auto; } }

/*# sourceMappingURL=custom.css.map */
