$bgcolor: #f9f8f6;
$brown: #514b3c;

html {
    background: $bgcolor;
}

.container-fluid {
    background: $bgcolor;
    padding: 0px 10px;
    
    .container-fluid {
        padding: 0px;
    }
}

.row {
    margin: 0px;
}

.col-sm-9 {
    padding: 0px;
}

header {
    background-color: $bgcolor;
    .logo {
        margin-top: 15px;
        padding: 0px;
        margin-bottom: 12px;
        text-align: center;
    }
    .sp_navi {
        text-align: center;
        img {
            height: 24px;
            margin-right: 4px;
        }
    }
    .sp_navi_li {
        width: 180px;
        position: absolute;
        margin: 0;
        padding: 0;
        border: 1px solid $brown;
        background: white;
        display: none;
        
        li {
            list-style: none;
            margin: 0;
            padding: 0;
            
            a {
                display: block;
                border-bottom: 1px solid $brown;
            }
        }
    }
    @media (min-width: 550px) {
        .row {
            margin-top: 39px;
        }
        .logo {
            img {
                display: none;
            }
            margin-top: 0px;
            height: 40px;
            background: url("../images/top/logo.png") no-repeat center;
        }
        .sp_navi {
            display: none;
        }
        .pc_navi {
            padding: 0;
            text-align: right;
            ul {
                margin-top: 19px;
                margin-bottom: 0px;
            }
            li {
                list-style: none;
                display: inline-block;
                
                img.navi_menu {
                    margin-left: 20px;
                }
                img.navi_icon {
                    margin-left: 9px;
                }
            }
        }
    }
    @media (max-width: 550px) {
        .pc_navi {
            display: none;
        }
    }
}

.cover_area {
    margin-top: 12.5px;
    
    .owl-dots {
        padding-left: 0;
    }
    .owl-dot {
        display: inline-block;
        letter-spacing: normal;
        width: 25px;
        height: 2px;
        background: #aaaaaa;
        margin-right: 10px;
        
        &.active {
            background: #9d1a2d;
        }
    }
    .carousel {
        padding: 0px;
    }
}

.new_items {
    .new_items_title {
        text-align: center;
        margin-bottom: 16px;
    }
    .new_item {
        padding: 0px;
        .thumbnail {
            border: none;
            border-radius: 0px;
            margin-bottom: 1px;
            margin-right: 1px;
            padding: 8px;
            
            img {
                border: 1px solid $bgcolor;
            }
            .caption {
                padding: 5px 0px 0px 0px;
                
                p {
                    font-size: 1.2rem;
                }
            }
        }
    }
    @media (min-width: 550px) {
        .new_items_title {
            position: relative;
            text-align: center;
            img {
                position: relative;
                z-index: 2;
                padding: 0 1em;
                background: $bgcolor;
                text-align: left;
            }
            &:before{
                position: absolute;
                top: 50%;
                z-index: 1;
                content: '';
                display: block;
                width: 100%;
                height: 1px;
                background: #e2ddd4;
            }
        }
        .new_item .thumbnail .caption p {
            font-size: 1.3rem;
        }
    }
}